{
    "checks": {
    {% for host in groups[zookeeper_group] %}
        "check-zookeeper-zookeeper-topic-{{loop.index}}": {
          "command": "/etc/sensu/plugins/check-znode.rb -s {{ hostvars[host].ec2_ip_address }}:2181 -z /zookeeper",
          "subscribers": [
            "zookeeper"
          ],
          "interval": 60
        },
        "check-zookeeper-mesos-topic-{{loop.index}}": {
          "command": "/etc/sensu/plugins/check-znode.rb -s {{ hostvars[host].ec2_ip_address }}:2181 -z /mesos",
          "subscribers": [
            "zookeeper"
          ],
          "interval": 60
        }
        {% if not loop.last %},{% endif %}
    {% endfor %}
    }
}